<mat-sidenav-container>
  <!--
  <i class="material-icons">menu</i>
  -->
  <!--
  <mat-sidenav fullscreen mode="side" [opened]="showSidenav$ | async">
    <nav>
      <mat-nav-list>
        <mat-list-item>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </mat-list-item>
        <br/>
        <mat-list-item>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </mat-list-item>
        <br/>
        <mat-list-item>
          <a routerLink="/students" routerLinkActive="active">Students</a>
        </mat-list-item>
        <br/>
        <mat-list-item>
          <a routerLink="/classes" routerLinkActive="active">Classes</a>
        </mat-list-item>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  -->
  <app-sidenav>
    <app-nav-item (navigate)="closeSidenav()" routerLink="/students" icon="book" hint="view students">
    </app-nav-item>
  </app-sidenav>
  <mat-sidenav-content>
    <app-toolbar (openMenu)="openSidenav()"></app-toolbar>
    <router-outlet></router-outlet>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
